* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
align-items: center;
justify-content: center;
display: flex;
border: 2px solid red;
height: 100vh;
  
}
.container {
 
    margin: 0 auto;
    padding: 50px;
    display: flex;
    text-align: center;
    border: 2px solid blue;
    border-radius: 10PX;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container-1 {
border: 2px ;
}
.container-2 {
border: 2px ;
width:300PX;
background:rgb(238, 65, 123);
}
.container-2 p {
width: 75%;
}
.container-1 input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(247, 243, 243)
    ;
    border: none;
} 
.container-1 button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: orangered;
    border: none;
    cursor: pointer;
    border-radius: 20PX;
}         
.container-2 button {
    width: 60%;
    padding: 10px;
    margin-top: 10px;

    border: none;
    cursor: pointer;
    border-radius: 20PX;
}